* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: rgb(255, 255, 255);

  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  zoom: 100%;

  justify-content: space-between;
  border: solid green; /* TIRAR */
  padding: 16px 16px;
  position: fixed;
  width: 100%;
  background-color: black;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #00ff3c;
  background-color: transparent;
  color: #ffffff;

  /* display flex e align items funcionam juntos */
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

form {
  display: flex;

  padding: 147px 5px 48px;
  width: fit-content;
}

.habits {
  margin-top: 29px; /* top emojis*/

  display: flex;
  flex-direction: column;

  gap: 10px;
}

.habit {
  width: 50px;
  height: 48px;

  font-size: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 40px;
  margin-left: 15px; /* distancia entre os dias laterais*/
}

.day {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.day div {
  margin-bottom: 8px;

  font-family: "roboto mono";
  font-size: 17px;
  line-height: 12px;

  color: #ffffff;

  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 45px;
  height: 35px;

  border: 1px solid #00ff3c;
  border-radius: 10px;

  background-color: #1f1f1f59;
}

/*pseudo selector*/
input:checked {
  background: #00ff3c;
  border: 2px solid #ffffff;

  background-color: #00ff3c;
  border-radius: 10px;
}

@media (max-width: 500px) {
  button div {
    display: none;
  }
}
